<a href="https://colab.research.google.com/github/lrochaqu/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tutorial Python Basics

In [1]:
'this is string'

'this is string'

In [0]:
first_string = 'hello from mode'

In [5]:
print (first_string)

hello from mode

In [6]:
first_string

'hello from mode'

In [7]:
print ("one bacon double cheeseburger")

one bacon double cheeseburger

In [0]:
cities = ['Tokyo','Los Angeles', 'New York','San Francisco']

In [9]:
print(cities)

['Tokyo', 'Los Angeles', 'New York', 'San Francisco']

In [11]:
cities [1]

'Los Angeles'

In [13]:
cities [0]

'Tokyo'

In [16]:
cities[2]

'New York'

In [0]:
city_population = {
    'Tokyo':13350000, 
    'Los Angeles': 18550000,
    'New York City': 8400000,
    'San Francisco': 1837442,
}

In [18]:
print(city_population)

{'Tokyo': 13350000, 'Los Angeles': 18550000, 'New York City': 8400000, 'San Francisco': 1837442}

In [19]:
city_population

{'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 1837442,
 'Tokyo': 13350000}

In [22]:
city_population ['New York City']

8400000

In [25]:
city_population ['Tokyo']

13350000

In [0]:
city_population['San Francisco']= 837442

In [28]:
city_population

{'Los Angeles': 18550000,
 'New York City': 8400000,
 'San Francisco': 837442,
 'Tokyo': 13350000}

In [0]:
city_population['Mumbai'] = 11980000

In [31]:
city_population

{'Los Angeles': 18550000,
 'Mumbai': 11980000,
 'New York City': 8400000,
 'San Francisco': 837442,
 'Tokyo': 13350000}

In [0]:
municipalities = {
    'New York':[
                'Manhattan',
                'The Bronx',
                'Brooklyn',
                'Queens',
                'Staten Island'
    ],
    'Tokyo': [
              'Akihabara', 
              'Harajuku',
              'Shimokitazawa',
              'Nakameguro',
 'Shibuya',
 'Ebisu/Daikanyama',
 'Shibuya District',
 'Aoyama',
 'Asakusa/Ueno',
 'Bunkyo District',
 'Ginza',
 'Ikebukuro',
 'Koto District',
 'Meguro District',
 'Minato District',
 'Roppongi',
 'Shinagawa District',
 'Shinjuku',
 'Shinjuku District',
 'Sumida District',
 'Tsukiji',
 'Tsukishima']
}

In [37]:
municipalities ['Tokyo']

['Akihabara',
 'Harajuku',
 'Shimokitazawa',
 'Nakameguro',
 'Shibuya',
 'Ebisu/Daikanyama',
 'Shibuya District',
 'Aoyama',
 'Asakusa/Ueno',
 'Bunkyo District',
 'Ginza',
 'Ikebukuro',
 'Koto District',
 'Meguro District',
 'Minato District',
 'Roppongi',
 'Shinagawa District',
 'Shinjuku',
 'Shinjuku District',
 'Sumida District',
 'Tsukiji',
 'Tsukishima']

In [38]:
municipalities ['Tokyo'][3]

'Nakameguro'

In [39]:
municipalities ['New York'][3]

'Queens'

In [40]:
type(True)

bool

In [41]:
type(municipalities['Tokyo'])

list

In [43]:
city_population ['Tokyo'] == 13350000

True

In [44]:
city_population ['Tokyo'] == 50000

False

In [45]:
city_population ['Tokyo'] != 50000

True

In [46]:
type(municipalities ['Tokyo'])

list

#Python Methods, Functions & Libraries

In [71]:
city_population

{'Los Angeles': 18550000,
 'Mumbai': 11980000,
 'New York City': 8400000,
 'San Francisco': 837442,
 'Tokyo': 13350000}

In [52]:
city_population.keys()

dict_keys(['Tokyo', 'Los Angeles', 'New York City', 'San Francisco', 'Mumbai'])

In [58]:
city_population.keys()

dict_keys(['Tokyo', 'Los Angeles', 'New York City', 'San Francisco', 'Mumbai'])

In [68]:
type(city_population.keys())

dict_keys

In [84]:
list(city_population.keys())

['Tokyo', 'Los Angeles', 'New York City', 'San Francisco', 'Mumbai']

In [85]:
list(city_population.keys())[2]

'New York City'

In [77]:
city_population.values()

dict_values([13350000, 18550000, 8400000, 837442, 11980000])

In [91]:
city_population['Los Angeles']

18550000

In [92]:
municipalities['Tokyo'][3]

'Nakameguro'

In [93]:
municipalities.keys()

dict_keys(['New York', 'Tokyo'])

In [95]:
list(municipalities.values())

[['Manhattan', 'The Bronx', 'Brooklyn', 'Queens', 'Staten Island'],
 ['Akihabara',
  'Harajuku',
  'Shimokitazawa',
  'Nakameguro',
  'Shibuya',
  'Ebisu/Daikanyama',
  'Shibuya District',
  'Aoyama',
  'Asakusa/Ueno',
  'Bunkyo District',
  'Ginza',
  'Ikebukuro',
  'Koto District',
  'Meguro District',
  'Minato District',
  'Roppongi',
  'Shinagawa District',
  'Shinjuku',
  'Shinjuku District',
  'Sumida District',
  'Tsukiji',
  'Tsukishima']]

In [100]:
print(type(municipalities))
print(type(municipalities['Tokyo']))
print(type(municipalities['Tokyo'][0]))

<class 'dict'>
<class 'list'>
<class 'str'>

In [101]:
type(municipalities)
type(municipalities['Tokyo'])
type(municipalities['Tokyo'][0])

str

In [119]:
type(list(city_population.values())[0])

int

In [120]:
len(municipalities['Tokyo'])

22

In [121]:
len(municipalities['Tokyo'][2])

13

In [122]:
len(municipalities)

2

In [0]:
import numpy as np

In [127]:
population_values = city_population.values()
population_values

dict_values([13350000, 18550000, 8400000, 837442, 11980000])

In [138]:
list(city_population.values()())

[13350000, 18550000, 8400000, 837442, 11980000]

In [141]:
numpy.mean(list(city_population.values()))

10623488.4

#Data aggregation using Pandas

In [0]:
import pandas as pd

In [0]:
zoo = pd.read_csv('http://46.101.230.157/datacoding101/zoo.csv', delimiter = ',')

In [0]:
zoo = pd.read_csv('http://46.101.230.157/datacoding101/zoo.csv', delimiter = ',')

In [5]:
zoo.count()

animal        22
uniq_id       22
water_need    22
dtype: int64

In [6]:
zoo.animal.count()

22

In [7]:
zoo.water_need.sum()

7650

In [8]:
zoo.water_need.min()

80

In [9]:
zoo.water_need.max()

600

In [10]:
zoo.water_need.mean()

347.72727272727275

In [11]:
zoo.water_need.median()

325.0

In [12]:
zoo.groupby('animal').mean()

          uniq_id  water_need
animal
elephant   1002.0  550.000000
kangaroo   1021.0  416.666667
lion       1017.5  477.500000
tiger      1006.0  310.000000
zebra      1012.0  184.285714

In [13]:
zoo.groupby('animal').mean() [['water_need']]

          water_need
animal
elephant  550.000000
kangaroo  416.666667
lion      477.500000
tiger     310.000000
zebra     184.285714

#311 Dataset

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [16]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
df.head()

   Unique Key  ...                                 Location
0    39888071  ...   (40.79333937834769, -73.9429417746998)
1    39889166  ...   (40.82012422332215, -73.9530712339799)
2    39882869  ...   (40.67080917938279, -73.9513990916184)
3    39894246  ...  (40.74026158873342, -73.99051651686905)
4    39881329  ...  (40.68814402968042, -73.75098958473612)

[5 rows x 41 columns]

In [49]:
df.tail()

         Unique Key  ...                                 Location
2859195    43619262  ...   (40.87970084316435, -73.9010571445122)
2859196    43622052  ...  (40.70178323733244, -73.92055493919345)
2859197    43625918  ...   (40.66999185896368, -73.9224889475533)
2859198    43622055  ...                                      NaN
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[5 rows x 41 columns]

In [32]:
df.keys()

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [47]:
df['Created Date']. min()

'01/01/2019 01:00:00 PM'

In [48]:
df['Created Date'].max()

'12/31/2018 12:59:41 PM'

The minimum value is January 01/2019 and the max is December 31/ 2018. However, the dataset shows more recent and older values like 08/24/2019 and 08/01/2018

I understood the difference between {} and [] and (), but it is not clear for me the order or how to structure the syntax. For intance in this example: zoo.groupby('animal').mean() [['water_need']] Why do we use double [[]] ?